<body>
    <div class="row">
        <!-- WhatsApp -->
        <div class="col-md-6 col-xl-3">
            <div class="card stat-widget">
                <div class="card-body">
                    <h5 class="card-title"><i class="fab fa-whatsapp"></i> WhatsApp</h5>
                    <div class="transactions-list">
                        <div class="tr-item">
                            <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                    <a target="_blank" href="https://wa.me/6287755080455"><i
                                            data-feather="message-circle"></i></a>
                                </div>
                                <div class="tr-text">
                                    <a target="_blank" href="https://wa.me/62882003806038">
                                        <h4>caliphdev</h4>
                                        <p>WhatsApp</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Telegram -->
        <div class="col-md-6 col-xl-3">
            <div class="card stat-widget">
                <div class="card-body">
                    <h5 class="card-title"><i class="fab fa-telegram"></i> Telegram</h5>
                    <div class="transactions-list">
                        <div class="tr-item">
                            <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                    <a target="_blank" href="https://t.me/caliphdev"><i
                                            data-feather="message-circle"></i></a>
                                </div>
                                <div class="tr-text">
                                    <a target="_blank" href="https://t.me/caliphdevz">
                                        <h4>caliphdev</h4>
                                        <p>Telegram</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram -->
        <div class="col-md-6 col-xl-3">
            <div class="card stat-widget">
                <div class="card-body">
                    <h5 class="card-title"><i class="fab fa-instagram"></i> Instagram</h5>
                    <div class="transactions-list">
                        <div class="tr-item">
                            <div class="tr-company-name">
                                <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary">
                                    <a target="_blank" href="https://Instagram.com/caliphdev.io"><i
                                            data-feather="message-circle"></i></a>
                                </div>
                                <div class="tr-text">
                                    <a target="_blank" href="https://Instagram.com/caliph.dev">
                                        <h4>caliphdev</h4>
                                        <p>Instagram</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>