<body>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col m-b-sm">
                            <ul class="list-group io-pricing-table">
                                <li class="list-group-item">
                                    <h3>Free</h3>
                                </li>
                                <li class="list-group-item">Limit 50 / Hari</li>
                                <li class="list-group-item">Reset setiap hari</li>
                                <li class="list-group-item">Tidak ada batas waktu</li>
                                <li class="list-group-item">
                                    <h3>Rp. 0</h3>
                                    <span>per bulan</span>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-outline-primary btn-lg"><a
                                            href="/register">Daftar</a></button>
                                </li>
                            </ul>
                        </div>
                        <div class="col m-b-sm">
                            <ul class="list-group io-pricing-table">
                                <li class="list-group-item">
                                    <h3>Premium</h3>
                                </li>
                                <li class="list-group-item">Limit 9999 / Hari</li>
                                <li class="list-group-item">Reset setiap hari</li>
                                <li class="list-group-item">Batas waktu 30 hari</li>
                                <li class="list-group-item">
                                    <h3 class="text-mel">Rp. <s>20,000</s> 10,000</h3>
                                    <span class="text-mel">per bulan</span>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-outline-mel btn-lg">
                                        <a href="//wa.me/62882003806038" class="text-mel" target="_blank">
                                            WhatsApp</a></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>