<%- include('../layouts/header') %>

    <body class="login-page">
        <div class='loader'>
            <div class='spinner-grow text-mel' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
        <div class="container login-page no-loader">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-4">
                    <div class="card login-box-container">
                        <div class="card-body">
                            <div class="authent-logo">
                                <img src="/images/logo.png" alt="logo" width="40">
                            </div>
                            <div class="authent-text">
                                <p>Lupa Password</p>
                            </div>

                            <%- include('../layouts/msg') %>
                                <%- include('../layouts/errors') %>

                                    <form method="POST" action="/users/lupapassword">
                                        <div class="mb-3">
                                            <div class="form-floating">
                                                <input id="email" name="email" type="text" class="form-control"
                                                    id="floatingInput" placeholder="mail@caliphapi.com">
                                                <label for="floatingInput">Email</label>
                                            </div>
                                        </div>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-mel m-b-xs"
                                                class="a-mel">Kirim</button>
                                        </div>
                                    </form>
                                    <div class="authent-reg">
                                        <p>Belum punya akun? <a href="/users/register" class="a-mel">Daftar</a></p>
                                    </div>
                                    <div class="authent-reg">
                                        <p>Sudah punya akun? <a href="/users/login" class="a-mel">Masuk</a>
                                        </p>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer') %>